<div class="row">
  <div class="col-md-2 text-center">
    401 Unauthorized
  </div>
</div>
<br /><br />
<div class="col-md-2 text-center">
  <%= link_to ' return to index', lms_path, class: "btn btn-success" %>
</div>