<div class="row">
  <div class=" text-center">
    <nav class="navbar navbar-default navbar-fixed-bottom link-container">
      <div class="container margin-top-10">
        <a href="https://github.com/educloudalliance/educloud-demo-lms" target="_blank" title="Source code">
          <%= image_tag asset_path('github_logo.png') %>
        </a>
        <a href="https://educloudalliance.apinf.io" target="_blank" title="EduCloud Alliance">
          <%= image_tag asset_path('educloud_apinf.png') %>
        </a>
      </div>
    </nav>
  </div>
</div>