<div class="row">
  <div class="col-md-12 text-center">
    <%= @response.inspect %>
  </div>
</div>
<div class="col-md-offset-4 margin-top-40">
  <%= link_to 'return to index', lms_path, class: "btn btn-success" %>
</div>