<div>
  <%= debug @response %>
</div>
<br /><br />
<div class="row">
  <div class="col-md-2 text-center center-block clearfloat">
    <%= link_to ' return to index', lms_path, class: "btn btn-success" %>
  </div>
</div>